<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    Limetools
</mat-toolbar>

<mat-sidenav-container fullscreen style="top: 64px !important;">
  <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/employees">
          Employees
        </a>
        <a mat-list-item routerLink="/about">
          About
        </a>
      </mat-nav-list>
    </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
    
  </mat-sidenav-container>

